name: Lint Bruno Code

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 10.6.4
      - uses: actions/setup-node@v5
        with:
          node-version: '22'
      - run: pnpm install
      - run: pnpm bru:lint