name: Run Bruno

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  bruno:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Bruno CLI
        run: npm i -g @usebruno/cli

      - name: Show versions
        run: |
          node -v
          bru --version

      - name: Run Bruno (sit01)
        run: bru run --working-dir ./Bruno